/*--  Media Query  --*/

/*--  Mobile  --*/
@media (min-width: 0px) and (max-width: 500px){

.header-logo h1 {
	font-size: 26px;
    margin: 2px 0;
}

.header-menu {
	width: 70%;
	float: left;
	height: 40px;
}
.header-menu-btn {
	font-size: 10px;
	padding: 0 4px;
}

.header-buttons {
	margin-top: 20px;
}
.header-buttons-grp {
	float: right;
    width: 57%;
    margin-right: 5px; 
}
.header-buttons-input {
	font-size: 11px;
}
.header-right-btn {
	font-size: 11px;
	padding: 6px 5px;
}

.sec-slide {
	margin: 10px 0;
}
.slide-img {
    height: 200px;
}
.slide-box-content {
	visibility: hidden;
}

.about-box {
	padding: 0px 15px;
	margin-bottom: 0px;
	margin-top: 5px;
}
.about-box h1 {  
	font-size: 17px;
}
.about-box p {
	margin-top: 0px;
	font-size: 14px;
}


.product-text {  
	font-size: 22px;
	margin: 10px 0;
}
.product-box {
	margin-bottom: 15px;
}
.product-card-text {

}
.product-card-text img {
	border-bottom: 3px solid #05d1bf;
}
.product-card-text {
	text-align: center;
	height: 103%;
	padding: 0;
}
.product-card-text h5 {
	font-size: 16px;
	margin: 10px 0;
}
.product-card-text p{
	font-size: 13px;
}

.sec-kids { 
	margin: 0;
}
.kid-sec-text {
	margin-top: 15px;
}
.kid-sec-text h1 {
	font-size: 21px;
}
.kid-sec-text p {
	font-size: 13px;
}
.kids-img {
    height: 200px;
}
.kids-box-content {
	visibility: hidden;
}

footer {
	padding: 15px 0;
}
.footer-left {
	text-align: center;
}
.footer-left p {
	line-height: 5px;
}

.footer-right {
	text-align: center;
	padding-right: 15px;
}

.footer-buttons-input {
	height: 35px;
	font-size: 13px;
	background-color: #d5d5d5;
	border-color: grey;
}
.footer-right-btn {
	border-color: grey;    
	height: 35px;
	font-size: 13px;
}


}

/*--  Tablet  --*/
@media (min-width: 501px) and (max-width: 767px){

.slide-img {
    height: 320px;
}
.slide-box-content {
	visibility: hidden;
}

.product-card-text {
	text-align: center;
	height: 102%;
	padding: 0;
}

.kids-img {
    height: 320px;
}
.kids-box-content {
	visibility: hidden;
}

footer {
	padding: 15px 0;
}
.footer-left {
	text-align: center;
}
.footer-left p {
	line-height: 5px;
}

.footer-right {
	text-align: center;
	padding-right: 15px;
}

.footer-buttons-input {
	height: 35px;
	font-size: 13px;
	background-color: #d5d5d5;
	border-color: grey;
}
.footer-right-btn {
	border-color: grey;    
	height: 35px;
	font-size: 13px;
}


}

/*--  Laptop  --*/
@media (min-width: 768px) and (max-width: 1199px){


.slide-img {
    height: 400px;
}
.slide-box-content {
	margin-bottom: 0px;
}
.slide-box-content-offer img {
    top: 45px;
    left: 0px;
}

.product-card-text {
	text-align: center;
	height: 104%;
	padding: 0;
}

.kids-img {
    height: 400px;
}
.kids-box-content-text-position {
    top: -190px;
    left: -90px;
    position: absolute;
}
.kids-box-content-text h1 {
    font-size: 50px;
    line-height: 35px;
    font-weight: bold;
}

footer {
	padding: 15px 0;
}
.footer-left {
	text-align: center;
}
.footer-left p {
	line-height: 5px;
}

.footer-right {
	text-align: center;
	padding-right: 15px;
}

.footer-buttons-input {
	height: 35px;
	font-size: 13px;
	background-color: #d5d5d5;
	border-color: grey;
}
.footer-right-btn {
	border-color: grey;    
	height: 35px;
	font-size: 13px;
}



}

/*--  Desktop  --*/
@media (min-width: 1200px) {

}